<script type="text/html" id="personDetailsViewerComponentTemplate">
    <div class="person-details-viewer">
        <div class="col-md-6 person-details-viewer__avatar">
            <!-- ko if: isAvatarAvailable -->
            <img data-bind="attr: { 'src': avatarUrl }" />
            <!-- /ko -->
            <!-- ko ifnot: isAvatarAvailable -->
            <img src="Content/images/emptyAvatarBig.png" />
            <!-- /ko -->
        </div>
        <div class="col-md-6">
            <div class="person-details-viewer__bio">
                <div class="person-details-viewer__bio--full-name">
                    <span data-bind="text: fullName"></span>
                </div>
                <div class="person-details-viewer__bio--badges">
                </div>
                <div class="person-details-viewer__bio--statistics">
                    <div>
                        <span>Tracks found: </span>
                        <span data-bind="text: totalTracksCount"></span>
                    </div>
                    <div>
                        <span>Tracks analyzed: </span>
                        <span data-bind="text: analyzedTracksCount"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>