<script type="text/html" id="personListItemTemplate">
    <div class="person-list-item"
         data-bind="click: select">
        <div class="person-list-item__avatar">
            <img data-bind="attr: { 'src': avatarUrl }" />
        </div>
        <div class="person-list-item__name">
            <span data-bind="text: fullName"></span>
        </div>
        <div class="person-list-item__badges">

        </div>
    </div>
</script>